<!DOCTYPE html>

<head>
  <!-- Almost everything inside of the head tag is for metadata only. It is also where dependency files (like CSS and Javascript) can be loaded. -->
  <!-- Nothing in this block appears in the document -->
  <meta charset="utf-8">
  <!-- This is omitting some of the optional html tags -->
  <!-- https://html.spec.whatwg.org/multipage/syntax.html#optional-tags -->
  <title>CS 1520: {% block title %}{% endblock %}</title>
  <meta name="author" content="Jake Stambaugh">
  <meta name="description"
    content="The course webpage for CS 1520: Programming Languages for Web Applications at the University of Pittsburgh">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <nav class="navbar">
    <h1>Calculator</h1>
    {% if homepage %}
    {% else %}
    <a href="/">Back to home</a>
    {% endif %}
  </nav>
  {% if not auth and not user %}
  <nav class="login-link">
    <p><a href="/auth/login">Login</a></p>
  </nav>
  {% endif %}
  {% if user %}
  <nav>
    <p><a href="/profile">Hello, {{user}}</a></p>
    <p><a href="/auth/logout">Logout</a></p>
  </nav>
  {% endif %}
  {% if error %}
  <span class="error">{{error}}</span>
  {% endif %}
  {% block content %}
  {% endblock%}
</body>