{% extends "_base.html" %}

{% block title %}CS 1520: Programming Languages for Web Applications{% endblock %}

{% block content %}
<!-- The body tag describes everything in the frame of the web browser -->
<div class="center">
    <h2>CS 1520: Programming Languages for Web Applications</h2>
    <p>Welcome to the class page!</p>
    <p>It may look sparse for now, but I'll continue adding features as we cover more web technologies in class.</p>
    <p>Your fun number is {{ num }}. Go play the lottery!</p>
    <section>
      <h3>Class 6 - February 13, 2020</h3>
      <p>After the midterm exam, please fill out <a href="/survey">a short survey</a> about the course. All feedback is anonymous.</p>
    </section>
    <hr>
    <section>
      <h3>Class 5 - February 6, 2020</h3>
      <p>Sorry that this is going up after the class, I will make sure that everyone gets an email.</p>
      <p>I have updated all of the lectures to this site, <a href="/lecture">check them out here</a></p>
      <h4>Midterm Prep</h4>
      <strong>Format:</strong>
      <p>The exam will be 10 to 15 short response questions. Most of the questions will be answered with text, some of them may require some coding. I may add some multiple choice, true or false, or fill-in-the-blank questions.</p>
      <strong>Topics:</strong>
      <p>I am expecting you to be able to describe each of these topics, know specific features that we discussed in lecture, and talk about when and how they are useful in web development.</p>
      <ul>
        <li>HTTP Requests and Responses</li>
        <li>Load balancing</li>
        <li>DNS</li>
        <li>Virtual Machines</li>
        <li>Cloud Hosting</li>
        <li>Routing</li>
        <li>Templates</li>
        <li>Frameworks</li>
        <li>Caching</li>
        <li>Latency</li>
        <li>Browsers</li>
        <li>The Internet (don't worry about history)</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>HTML and CSS</li>
        <li>Datastore</li>
        <li>AJAX/XmlHttpRequest</li>
      </ul>
    </section>
    <hr>
    <section>
      <h3>Class 4 - January 30, 2020</h3>
      <p><a href="http://jvs.gr1.me/gcp">Claim your student code for GCP here</a></p>
      <p><a href="https://console.cloud.google.com/education">Sign into your Google account and apply the credit here</a></p>
      <p><a href="https://github.com/timothyrjames/cs1520">GitHub page for example project</a></p>
      <p><a href="/quiz/4">Today's Quiz</a></p>
      <br>
      <h4>Project Proposal requirements</h4>
      <p>Your team will need to turn in a one-page document containing:</p>
      <ol>
        <li>Description of the project</li>
        <li>You team's vision for your MVP</li>
        <li>Plans for M1</li>
        <li>Plans for M2</li>
        <li>Plans for end of term</li>
      </ol>
      <p>I only need one proposal per group, but I will need everyone's names and email addresses on it somewhere. You can email submissions to <a href="mailto:jake.stambaugh@gmail.com">jake.stambaugh@gmail.com</a>. If you have specific questions about your proposal, <a href="http://jvs.gr1.me/office">schedule some time during my office hours.</a></p>
    </section>
  </div>
  <!-- This div isn't technically necessary, but in the future I may add some styling around this div -->
</body>
</html>
