{% extends "_base.html" %}

{% block title %}CS 1520: Programming Languages for Web Applications{% endblock %}

{% block content %}
<!-- The body tag describes everything in the frame of the web browser -->
<div class="center">
  <h2>CS 1520: Programming Languages for Web Applications</h2>
  <p>Welcome to the class page!</p>
  <hr>
    <h3>April 9, 2020</h3>
    <p>A few announcements! If you log into Courseweb today, you will see links to your classmates' Milestone 2 presentations. You do not have to submit reviews for these. If you have any concerns about your video or anyone else's, please email me.</p>
    <p>Second, thank you all for your comments on the first set of talks. You will see some new videos and discussions for this week.</p>
    <ul>
    {% for v in second_videos %}
      <li><a href="{{ v.youtube_url }}">{{ v.title }}</a></li>
    {% endfor %}
    </ul>
    <p>Please leave a response on the Courseweb discussion <b>by next Wednesday, April 15th.</b></p>
    <p>Also, while we're talking about deadlines: <b>April 22 is the due date for Milestone 3</b> which will be in the same format as Milestone 2.</p>
    <p>I will be posting the Final Exam on <b>Monday, April 20</b> and you will have until midnight on <b>Friday, April 24.</b> I am still designing the Final exam, I will post a list of topics late next week. I do not expect the Final to be more difficult than the midterm, and I would encourage you to prioritize Milestone 3 over studying.</p>
    <p>Finally, links to the OMET surveys should be available in your email. Please take some time to fill them out. The results are very useful to me and to the university.</p>
  <hr>
  <section>
    <h3>April 3, 2020</h3>
    <p>Hi Class! Sorry for the delay in sending out more course material. My original plan was to have a lecture about using SendGrid for automating email, but unfrotunately I ran into some App Engine constraints. I will still post a lecture about automating emails, but it will be less hands-on than I hoped.</p>
    <p>Instead, I have found a set of Tech Talks from around the internet that I would like you all to watch. They each focus on a newer, more industry-focused technology.</p>
    <p>Please watch all of the following videos by Wednesday, April 8th. These can also be found at the <a href="/videos">videos</a> link.</p>
    <ul>
    {% for v in first_videos %}
      <li><a href="{{ v.youtube_url }}">{{ v.title }}</a></li>
    {% endfor %}
    </ul>
    <p>After you have watched these videos, please head to the <a href="https://courseweb.pitt.edu/webapps/discussionboard/do/forum?action=list_threads&forum_id=_333066_1&conf_id=_563530_1&course_id=_555629_1&nav=cp_discussion_board">Courseweb discussion page</a> and leave one post on the discussion for each video.</p>
    <p>Today was also the original deadline for project feedback, but since I have not had time to send out the forms, that deadline will obviously be extended. I will only be sending out team feedback, but I will be posting the project videos tomorrow so that you can appreciate your classmates' wonderful projects.</p>
  </section>
  <hr>
  <section>
    <h3>Remote Lectures - March 27, 2020</h3>
    <p>The first set of lectures (recorded by Tim) are available at these links:</p>
    <ul>
      <li><a href="https://youtu.be/aWU5Z0W46iM">Example project walkthrough</a></li>
      <li><a href="https://youtu.be/miLgXO_3_gU">Google Sign-in on the browser side</a></li>
      <li><a href="https://youtu.be/lCgAbYTjc4M">Google Sign-in on the server side with sessions</a></li>
      <li><a href="https://youtu.be/Qpk245EpBoA">Fixing the sign-out functionality</a></li>
    </ul>
    <p>Please watch these lectures by the end of the day Monday. They are relatively short, this set should take you
      less
      than an hour to watch. There will not be a quiz on this set of videos, but there will be quizzes on future
      lectures.
      Also due by Monday is your group's Milestone 2 video presentation. These videos should be 3-7 minutes long. Please
      email me these videos as attachments or upload them to YouTube and send me a link.
    </p>
  </section>
  <hr>
  <section>
    <h3>Class 8 - March 5, 2020</h3>
    <p>Here is the schedule of upcoming classes:</p>
    <ul>
      <li>March 12 - no class, Spring Break</li>
      <li>March 19 - Lecture on Cron (scheduled jobs), automated email and SMS</li>
      <li>March 26 - Milestone 2 presentations</li>
    </ul>
    <p>Watch your email and take a look at Courseweb, I'll be posting midterm grades and sending out team feedback this
      weekend</p>
  </section>
  <hr>
  <section>
    <h3>Class 6 - February 13, 2020</h3>
    <p>After the midterm exam, please fill out <a href="/survey">a short survey</a> about the course. All feedback is
      anonymous.</p>
  </section>
  <hr>
  <section>
    <h3>Class 5 - February 6, 2020</h3>
    <p>Sorry that this is going up after the class, I will make sure that everyone gets an email.</p>
    <p>I have updated all of the lectures to this site, <a href="/lecture">check them out here</a></p>
    <h4>Midterm Prep</h4>
    <strong>Format:</strong>
    <p>The exam will be 10 to 15 short response questions. Most of the questions will be answered with text, some of
      them may require some coding. I may add some multiple choice, true or false, or fill-in-the-blank questions.</p>
    <strong>Topics:</strong>
    <p>I am expecting you to be able to describe each of these topics, know specific features that we discussed in
      lecture, and talk about when and how they are useful in web development.</p>
    <ul>
      <li>HTTP Requests and Responses</li>
      <li>Load balancing</li>
      <li>DNS</li>
      <li>Virtual Machines</li>
      <li>Cloud Hosting</li>
      <li>Routing</li>
      <li>Templates</li>
      <li>Frameworks</li>
      <li>Caching</li>
      <li>Latency</li>
      <li>Browsers</li>
      <li>The Internet (don't worry about history)</li>
      <li>Python</li>
      <li>JavaScript</li>
      <li>HTML and CSS</li>
      <li>Datastore</li>
      <li>AJAX/XmlHttpRequest</li>
    </ul>
  </section>
  <hr>
  <section>
    <h3>Class 4 - January 30, 2020</h3>
    <p><a href="http://jvs.gr1.me/gcp">Claim your student code for GCP here</a></p>
    <p><a href="https://console.cloud.google.com/education">Sign into your Google account and apply the credit here</a>
    </p>
    <p><a href="https://github.com/timothyrjames/cs1520">GitHub page for example project</a></p>
    <p><a href="/quiz/4">Today's Quiz</a></p>
    <br>
    <h4>Project Proposal requirements</h4>
    <p>Your team will need to turn in a one-page document containing:</p>
    <ol>
      <li>Description of the project</li>
      <li>You team's vision for your MVP</li>
      <li>Plans for M1</li>
      <li>Plans for M2</li>
      <li>Plans for end of term</li>
    </ol>
    <p>I only need one proposal per group, but I will need everyone's names and email addresses on it somewhere. You can
      email submissions to <a href="mailto:jake.stambaugh@gmail.com">jake.stambaugh@gmail.com</a>. If you have specific
      questions about your proposal, <a href="http://jvs.gr1.me/office">schedule some time during my office hours.</a>
    </p>
  </section>
</div>
<!-- This div isn't technically necessary, but in the future I may add some styling around this div -->
{% endblock %}