{% extends "_base.html" %}
{% block title %}Edit Profile{% endblock %}
<!--Borrowed heavily from this Medium post-->
<!--https://medium.com/imersotechblog/upload-files-to-google-cloud-storage-gcs-from-the-browser-159810bb11e3-->
<a href="/profile">Back to profile</a>

{% block content %}
<h1>Edit Profile {{user.username}}</h1>

<form id="form">
   <label for="avatar">Upload a profile picture</label> <input type="file" id="avatar" name="avatar"><br>
   <p><label>Bio</label> <textarea name="bio" id="bio" cols="30" rows="10"></textarea></p>
   <p><input type="button" id="button" value="Upload photo"></p>
</form>

<script>
function getFormFields() {
    // this can be a file from e.g. <input type="file"/>
    const file = document.getElementById("avatar").files[0];
    const bio = document.getElementById("bio").textContent;
    return JSON.stringify({"bio": bio, "filename": file.name, "contentType": file.type});
}

function getFile() {
    // this can be a file from e.g. <input type="file"/>
    return document.getElementById("avatar").files[0];
}
function uploadProfileToDatastore(formdata) {
    const xhr = new XMLHttpRequest();
    xhr.responseType = "json";
    xhr.open("PUT", "/profile/edit", true)
    xhr.onload = () => {
        const status = xhr.status; if (status === 200) {
            const jsonResponse = xhr.response;
            var signedUrl = jsonResponse["signedUrl"];
            console.log(signedUrl);
            uploadFileToCloudStorage(signedUrl)
        } else {
            alert("Something went wrong");
        }
    };
    xhr.onerror = () => {
        alert("Something went wrong");
    };
    xhr.setRequestHeader("Content-Type", "application/json");
    console.log(formdata);
    xhr.send(formdata);
}

function uploadFileToCloudStorage(signedUrl) {
    
    const file = getFile();

    const xhr = new XMLHttpRequest();
    xhr.open("PUT", signedUrl, true);
    xhr.onload = () => {
        const status = xhr.status;
        if (status === 200) {
            alert("File is uploaded");
            window.loaction.href = "/profile"
        } else {
            alert("Something went wrong!");
        }
    };

    xhr.onerror = () => {
        alert("Something went wrong");
    };
    xhr.setRequestHeader('Content-Type', file.type);
    xhr.send(file);
}

function buttonClick(event) {
    console.log("Submitting");
    const formdata = getFormFields()
    uploadProfileToDatastore(formdata)
    event.preventDefault();
    event.stopPropagation();
}

const b = document.getElementById("button");
b.onclick = buttonClick;

</script>
{% endblock %}