{% extends "_base.html" %}
{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
<a href="/">Back to home</a>

<h2>{{ quiz.title }}</h2>

<form action="/quiz/{{ quiz.id }}" method="POST" autocomplete="off">
  <fieldset>
    <legend>Your Name and Pitt ID:</legend>
    <p><label>PeopleSoft ID</label> <input name="student-id" id="student-id" type="text" oninput="attemptAutocomplete()"></p>
    <p><label>Name</label> <input name="student-name" id="student-name"></p>
    <p><label>Email</label> <input name="student-email" id="student-email"></p>
  </fieldset>

  <fieldset>
    <legend>Please fill out each question, and click "submit" when you are finished</legend>
    {% for question in quiz.questions %}
      <p><label>{{ loop.index }}. {{ question.description }}<label> <input name="question-{{ loop.index }}"></p>
    {% endfor %}
  </fieldset>
  <button type="submit">Submit quiz</button>
</form>

<script src="/static/quiz.js"></script>
<script>
  function attemptAutocomplete() {
    let studentId = document.getElementById("student-id").value;
    if(studentId.length === 7) {
      autocompleteName(studentId);
    }
  }
</script>
{% endblock %}
