<!DOCTYPE html>
<meta charset="utf-8">
<!-- This is omitting some of the optional html tags -->
<!-- https://html.spec.whatwg.org/multipage/syntax.html#optional-tags -->
<title>CS 1520: Syllabus</title>

<h1>Programming Languages for Web Applications</h1>

<h2>Course Description</h2>
<p>This course will focus on Web programming tools and technologies, both from the server side and the client side point of view. Server side technologies include Python and HTTP protocols. Client side technologies include the JavaScript scripting language (including JavaScript libraries), HTML, CSS, and AJAX protocols.</p>

<p>Prerequisites: CS445</p>

<h2>Instructor</h2>
<p>Jake Stambaugh (<a href="jake.stambaugh@gmail.com">jake.stambaugh@gmail.com</a>)</p>
<p>Office hours are available for signup at <a href="http://jvs.gr1.me/office">http://jvs.gr1.me/office</a>. Office hours are over Google Hangouts by default, but contact me for a meeting outside of those times/in-person.</p>

<h2>Teaching Assistants</h2>
<p><strong>Recitation TA</strong> Jeongmin Lee (<a href="jlee@cs.pitt.com">jlee@cs.pitt.edu</a>)</p>
<p><strong>Grading TA</strong></p>
