<!DOCTYPE html>
<meta charset="utf-8">
<!-- This is omitting some of the optional html tags -->
<!-- https://html.spec.whatwg.org/multipage/syntax.html#optional-tags -->
<title>CS 1520: Syllabus</title>

<a href="/">Back to home</a>

<h1>Programming Languages for Web Applications</h1>

<h2>Course Description</h2>
<p>This course will focus on Web programming tools and technologies, both from the server side and the client side point of view. Server side technologies include Python and HTTP protocols. Client side technologies include the JavaScript scripting language (including JavaScript libraries), HTML, CSS, and AJAX protocols.</p>

<p>Prerequisites: CS445</p>

<h2>Instructor</h2>
<p>Jake Stambaugh (<a href="jake.stambaugh@gmail.com">jake.stambaugh@gmail.com</a>)</p>
<p>Office hours are available for signup at <a href="http://jvs.gr1.me/office">http://jvs.gr1.me/office</a>. Office hours are over Google Hangouts by default, but contact me for a meeting outside of those times/in-person.</p>

<h2>Teaching Assistants</h2>
<p><strong>Recitation TA</strong> Jeongmin Lee (<a href="jlee@cs.pitt.com">jlee@cs.pitt.edu</a>)</p>
<p><strong>Grading TA</strong> Erhu He (<a href="erh108@pitt.edu">erh108@pitt.edu</a>)</p>

<h2>Textbook</h2>
<p><i>Save your money, use Internet resources.</i></p>

<p>We’ll refer to plenty of materials freely available on the Internet.  We’ll be looking at Google App Engine and Python, JavaScript, HTML5, CSS3, and as many other technologies as we have time to cover.  If you’re desperate for books, let me know and I'll figure something out for you.</p>
<p>You can use the text editor / environment of your choice, but we'll be working in the <a href="https://ssh.cloud.google.com">Google Cloud Console</a> environment in class exercises.</p>
<p><strong>Once I get access to Courseweb, I can enable opting-out of the class textbook, but YOU will have to opt-out to get your textbook fee back</strong></p>

<h2>Graded Material</h2>

<h3>Class Project</h3>
<p>There will be a class project throughout the term.  This project will be completed in groups.  Some basic requirements for the project:</p>
<ul>
  <li>Your project must include at least one stylesheet with appropriate usage.</li>
  <li>It must utilize the Google App Engine Users service or another user system of your choice.</li>
  <li>Your project must have plenty of meaningful Python code (minimum of 150 lines per group member).</li>
  <li>Your web application must use some dynamic JavaScript (minimum of 80 lines per group member) to interact with a client.</li>
  <li>It must utilize a Google App Engine data storage service in a meaningful way.</li>
  <li>Your project will need to be viewable by all class members.</li>
  <li>All group members must collaborate and all group members must write code.</li>
  <li>Your project must use at least one additional API (AppEngine services or other APIs).</li>
  <li>Your group must report reasonable progress on the project at every progress report session.</li>
</ul>

<p>Project groups will be 4 students.  We will have time in class to come up with groups, but I will assign groups if necessary.  Neither groups nor topics will not need to be decided in the first week.</p>

<p>The project is worth 35% of the grade and is distributed as follows:</p>
<table>
  <tr>
    <td>Project Proposal & Plan</td>
    <td>2%</td>
  </tr>
  <tr>
    <td>Completion of Peer Reviews (3 @ 1% each)</td>
    <td>3%</td>
  </tr>
  <tr>
    <td>Completion of Project Reviews (3 @ 1% each)</td>
    <td>3%</td>
  </tr>
  <tr>
    <td>Peer Feedback (3 @ 4% each)</td>
    <td>12%</td>
  </tr>
  <tr>
    <td>Milestone Progress (3 @ 4% each)</td>
    <td>12%</td>
  </tr>
  <tr>
    <td>Final Project Evaluation</td>
    <td>8%</td>
  </tr>
  <tr>
    <td><strong>Total</strong></td>
    <td><strong>40%</strong></td>
  </tr>
</table>

<p><strong>Milestone Presentations</strong> will be given in class at 3 points throughout the semester.  The point of these presentations is to report on the work you’ve done so far, share your project with the class, get some feedback, and make sure you stay on track.  Note that only one group member will need to present the project progress.</p>
<p>For each project milestone presentation, you will need to submit <strong>Peer Feedback</strong> for everyone in your group.  You will receive 1 point for each <strong>Completed Peer Review</strong> (i.e., the ones you submit), and the <strong>Peer Feedback</strong> grade will be based on your peer feedback.  You'll also be expected to complete <strong>Project Reviews</strong> of the project presentations at each review.</p>
<p>The <strong>Final Project Evaluation</strong> will be based on review of your source code, neatness, completeness, and how well your project meets the stated requirements (as well as any other requirements throughout the term).</p>

<p>In order to avoid bad group situations, in addition to peer reviews, ONE TIME in the term up until the second review, you can do one of the following:</p>
<ul>
  <li>Remove one person from your group.  This must be done by unanimous decision by the rest of the group members.  Group members that are removed are free to join another group, band together, or complete the project independently with a copy of the current code.</li>
  <li>Trade one person from your group for another person in another group.  This must be done by unanimous decision of all members in both groups.</li>
</ul>

<h3>Exams</h3>
<p>There will be one cumulative final exam.  The exam will be 30% of the final grade and will be held in April at 6:00 PM in our normal classroom location.</p>

<h3>Quizzes</h3>
<p>There will be a quiz following most classes.  Since I’m sure not all students will be available for all classes, the quiz grade will be made up of the 7 best quizzes throughout the term.</p>

<h3>Overall Grade</h3>
<table>
  <tr>
    <td>Project Grade</td>
    <td>40%</td>
  </tr>
  <tr>
    <td>Midterm</td>
    <td>20%</td>
  </tr>
  <tr>
    <td>Final Exam</td>
    <td>33%</td>
  </tr>
  <tr>
    <td>Quizzes</td>
    <td>7%</td>
  </tr>
  <tr>
    <td><strong>Total</strong></td>
    <td><strong>100%</strong></td>
  </tr>
</table>
